.record {
  font-size: 14px;
  display: grid;
  width: 800px;
  height: auto;
  padding: 20px 80px;
  grid-template-areas: 'head head'
                       'main main';

  grid-template-rows: 150px;
  grid-template-columns: 50% 1fr;
  box-shadow: 0px 0px 5px #5c5d5c;

  .record__header {
    grid-area: head;
    display: flex;

    div[class*='record__header-'] {
      width: 50%;
    }

    .record__header-left, .record__header-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        margin: 2px;
        text-transform: uppercase;

        &:nth-child(1) {
          font-size: 16px;
        }

        &:nth-child(2) {
          font-weight: bold;
          border-bottom: 1px solid;
        }

        &:nth-child(3), &:nth-child(4) {
          text-transform: inherit;
        }
      }

      .permission {
        ::v-deep input {
          padding: 0;
          width: 80px;
        }
      }
    }

    .record__header-right {
      margin-bottom: 12px;

      span {
        font-size: 10px;
        text-align: center;
      }
    }
  }

  .record__main {
    grid-area: main;

    .record__main-title{
      margin-bottom: 20px;

      p {
        text-align: center;
        margin: 0;

        &:nth-child(n) {
          font-size: 24px;
          font-weight: 700;
        }

        &:nth-child(2) {
          position: relative;
          font-size: 18px;

          &:after {
            content: "";
            display: block;
            width: 110px;
            height: 2px;
            background: black;
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translate(-50%, 0);
          }
        }
      }
    }

    .record__main-content {
      .based-on {
        ::v-deep input {
          padding: 0;
          margin: 0 5px;
          width: 200px;
          height: 30px;
        }

        span {
          &:after {
            left: 105%;
            width: 150px;
            z-index: 2;
          }
        }
      }

      .violation {
        display: inline-block;

        span {
          &:after {
            left: 101%;
            width: 100px;
          }
        }

        ::v-deep .el-input {
          width: 100px;

          input {
            padding: 0 5px;
          }
        }
      }

      .date-time {
        display: inline-block;
        margin-left: 5px;

        span {
          &:after {
            left: 105%;
            width: 100px;
          }
        }

        ::v-deep .el-input {
          width: 110px;

          input {
            padding: 0 10px;
          }
        }

        ::v-deep .el-input__prefix {
          display: none;
        }

        ::v-deep .el-input__icon {
          line-height: 20px;
        }

      }

      .indentity {
        margin: 10px 0;

        span {
          &:after {
            left: 105%;
            width: 130px;
          }
        }

        ::v-deep .el-input {
          width: 140px;

          input {
            padding: 0 3px;
          }
        }
      }

      .record__main-title-2{
        text-align: center;
      }
    }

    //config p tag
    p {
      margin: 10px 0;
    }
  }

  // General style
  ::v-deep .el-input {
    width: 100px;

    input {
      width: inherit;
      border: none;
      outline: none;
      height: 20px;
      padding: 0;
    }
  }

  .flag {
    position: relative;

    &:after {
      content: '';
      display: block;
      width: 80px;
      border-bottom: 1px dotted;
      position: absolute;
      bottom: 0;
      left: 100%;
      z-index: 2;
    }
  }

  .required {
    color: red
  }
}
