.record {
  font-size: 14px;
  display: grid;
  width: 800px;
  height: auto;
  padding: 20px 80px;
  grid-template-areas: 'head head'
                       'main main';

  grid-template-rows: 150px;
  grid-template-columns: 50% 1fr;
  box-shadow: 0px 0px 5px #5c5d5c;

  .record__header {
    grid-area: head;
    display: flex;

    div[class*='record__header-'] {
      width: 50%;
    }

    .record__header-left, .record__header-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        margin: 2px;
        text-transform: uppercase;

        &:nth-child(1) {
          font-size: 16px;
        }

        &:nth-child(2) {
          font-weight: bold;
          border-bottom: 1px solid;
        }

        &:nth-child(3), &:nth-child(4) {
          text-transform: inherit;
        }
      }

      .permission {
        ::v-deep input {
          padding: 0;
          width: 80px;
        }
      }
    }

    .record__header-right {
      margin-bottom: 12px;

      span {
        font-size: 10px;
        text-align: center;
      }
    }
  }

  .record__main {
    grid-area: main;

    .record__main-title {
      margin-bottom: 20px;

      p {
        text-align: center;
        margin: 0;

        &:nth-child(n) {
          font-size: 24px;
          font-weight: 700;
        }

        &:nth-child(2) {
          position: relative;
          font-size: 18px;

          &:after {
            content: "";
            display: block;
            width: 110px;
            height: 2px;
            background: black;
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translate(-50%, 0);
          }
        }
      }
    }

    .record__main-content {
      .based-on {
        ::v-deep input {
          padding: 0;
          margin: 0 5px;
          width: 200px;
          height: 30px;
        }

        span {
          &:after {
            left: 105%;
            width: 150px;
            z-index: 2;
          }
        }
      }

      .violation {
        display: inline-block;

        span {
          &:after {
            left: 101%;
            width: 100px;
          }
        }

        ::v-deep .el-input {
          width: 100px;

          input {
            padding: 0 5px;
          }
        }
      }

      .date-time {
        display: inline-block;
        margin-left: 5px;

        span {
          &:after {
            left: 105%;
            width: 100px;
          }
        }

        ::v-deep .el-input {
          width: 110px;

          input {
            padding: 0 10px;
          }
        }
      }

      .indentity {
        margin: 10px 0;

        span {
          &:after {
            left: 105%;
            width: 130px;
          }
        }

        ::v-deep .el-input {
          width: 140px;

          input {
            padding: 0 3px;
          }
        }
      }

      .record__main-title-2 {
        text-align: center;
      }

      .record__main-rule {

        .first-rule, .second-rule, .third-rule {
          margin: 5px 0;

          ::v-deep span:after, ::v-deep input, .inline-input {
            width: 420px;
          }

          span:nth-child(3) {
            margin-left: 5px;
          }

          .infomation-name,
          .infomation-birth,
          .infomation-nationality,
          .infomation-job,
          .infomation-address,
          .infomation-id,
          .infomation-bonus, {
            margin: 5px 0;

            span:after, ::v-deep input, .el-input {
              width: 200px;
              margin-left: 5px;
            }
          }

          .infomation-birth {
            display: inline-block;

            span:after, ::v-deep input, .el-input {
              width: 100px;
            }

            ::v-deep input {
              padding: 0 10px;
            }

            ::v-deep .el-input__suffix {
              right: -5px;
            }
          }

          .infomation-nationality {
            display: inline-block;
            margin-left: 10px;

            span:after, ::v-deep input {
              width: 125px;
              padding: 0 10px;
            }
          }

          .infomation-job {
            span:after, ::v-deep input, .el-input {
              width: 350px;
            }
          }

          .infomation-address {
            span:after, ::v-deep input, .el-input {
              width: 550px;
            }
          }

          .infomation-id {
            span:after, ::v-deep input, .el-input {
              width: 335px;
            }
          }

          .infomation-bonus {
            span:after, ::v-deep input, .el-input {
              width: 100px;
            }

            span:nth-child(3) {
              margin-left: 10px;

              &:after {
                width: 200px;
              }
            }

            .city {
              width: 200px;
              ::v-deep input, ::v-deep .el-input {
                width: 200px;
              }
            }

            span:nth-child(5) {
              margin-left: 10px;
            }
          }

          .violation-content {

            .area, .rules, .time-and-location, .details, .money, .measure, .penalize, .consequence {
              margin: 5px 0;
            }

            .area {
              position: relative;

              textarea {
                font-family: inherit;
                width: 100%;
                height: 100px;
                border: none;
                resize: none;
                outline: none;
                padding: 0 5px;
                line-height: 20px;
              }

              .line {
                content: '';
                display: block;
                width: 100%;
                border-bottom: 1px dotted;
                position: absolute;
                top: 15px;
                left: 5px;
                margin: 0;
                &:nth-child(2) {
                  top: 35px;
                }

                &:nth-child(3) {
                  top: 54px;
                }

                &:nth-child(3) {
                  top: 54px;
                }

                &:nth-child(4) {
                  top: 73px;
                }

                &:nth-child(5) {
                  top: 91px;
                }

              }
            }

            .rules {
              div[class*='block-'] {
                margin: 5px 0;
              }

              span:after, ::v-deep input, .el-input {
                width: 80px;
              }

              .el-input {
                margin-right: 17px;
              }
            }

            .time-and-location, .penalize, .consequence {
              span:after, ::v-deep input, .el-input {
                width: 500px;
                padding: 0 2px;
              }
            }

            .details, .measure {
              span:after, ::v-deep input, .el-input {
                width: 475px;
                padding: 0 2px;
              }
            }

            .money {
              display: flex;
              justify-content: space-between;
            }
          }
        }

        .third-rule{
          .option-1{
            p{
              line-height: 20px;
            }
          }
        }
      }
    }


    // General style ----------------------------------------------------------------------------------------------

    p {
      margin: 10px 0;
    }
  }

  ::v-deep .el-input {
    width: 100px;

    input {
      width: inherit;
      border: none;
      outline: none;
      height: 20px;
      padding: 0;
    }
  }

  .flag {
    position: relative;

    &:after {
      content: '';
      display: block;
      width: 80px;
      border-bottom: 1px dotted;
      position: absolute;
      bottom: 0;
      left: 100%;
      z-index: 2;
    }
  }

  .required {
    color: red
  }

  ::v-deep .el-input__prefix {
    display: none;
  }

  ::v-deep .el-input__icon {
    line-height: 20px;
  }
}
